{% extends '@AddressBook/base.html.twig' %}

{% block title %}address book overview{% endblock %}

{% block content %}
    <input type="hidden" id="get-token" value="{{ csrf_token(1) }}" />
    <div id="app"></div>
{% endblock %}
