#modal-error {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: $modal-background;
  border-radius: 10px;

  &.modal-hidden {
    display: none;
  }

  &.modal-show {
    display: block;
  }

  #modal-error-inner {
    width: 80%;
    height: 30%;
    position: absolute;
    top: 35%;
    left: 10%;
    background: $color-white;
    z-index: 200;

    @media screen and (min-width: 992px) {
      width: 30%;
      left: 35%;
    }

    .col-modal-msg {
      padding: 0 2em;
      margin: 2em 0 1em 0;
    }

    .col-modal-btn {
      padding: 0 2em;
      text-align: right;
    }
  }
}

#modal-confirm {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: $modal-background;
  border-radius: 10px;

  &.modal-hidden {
    display: none;
  }

  &.modal-show {
    display: block;
  }

  #modal-confirm-inner {
    width: 80%;
    height: 30%;
    position: absolute;
    top: 35%;
    left: 10%;
    background: $color-white;
    z-index: 200;

    @media screen and (min-width: 992px) {
      width: 30%;
      left: 35%;
    }

    .col-modal-msg {
      padding: 0 2em;
      margin: 2em 0 1em 0;
    }

    .col-modal-btn {
      padding: 0 2em;
      text-align: right;
    }

    .btn-confirm-ok {
      margin-left: 1em;
    }
  }
}
